<template>
  <div id="{{ post.id }}"{{#if style}} class="{{ style }}"{{/if}}>
    <h1>{{ post.id }}</h1>
    {{#if post.dateFormatted}}
    <h2>{{ post.dateFormatted }}</h2>
    {{/if}}
    {{{ content }}}
    <div>
      {{#if post.prev}}
      <p>Previous post: {{ post.prev.id }}</p>
      {{/if}}
      {{#if post.next}}
      <p>Next post: {{ post.next.id }}</p>
      {{/if}}
    </div>
  </div>
</template>